body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.green{color:#0c963d}
.red{color:red}
a:hover,
a{text-decoration: none;}
ul{list-style: none;padding: 0px; margin: 0px;}
.btn-primary {
    color: #000;
    background-color: #e2a521;
    border-color: #e2a521;
}
.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
}
.table-responsive>.table {
    margin-bottom: 0;
}

/**side nav**/
.headermain{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;    background: #fff;
}
.top-bar {
    width: 100%;
    float: left;
    padding: 10px 10px;
    background: #113a17;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-bar .navbaricon {margin-right: 20px;}
.top-bar .navbaricon i{ cursor: pointer;
    font-size: 20px;
    color: #fff;
    font-size: 32px; }

  .logowrap {display: flex;align-items: center;}  
  .logowrap h4{  margin: 0px;  font-size: 18px;text-transform: uppercase;    font-weight: bold;
    color: #fff;}
    .logowrap   .username {display: inline-block;margin-left: 10px;
        color: #fff;font-size: 13px;
    }
    .top-bar    .navbar-right ul{list-style: none;padding: 0px; margin: 0px;}
    .top-bar    .navbar-right li a {
        font-size: 11px;
        padding: 0;
        font-weight: 400!important;    color: #fff;    text-transform: capitalize;
    }
    .top-bar .navbar-right li a span{display: block;text-align: center;}
    .top-bar    .navbar-right li a span i{font-size: 15px;}
    .top-bar   .navbar-right li a span.fa{display: inline-block;}
    .top-bar   .navbar-right  .dropdown-toggle::after{display: none;}
    .top-bar  .navbar-right li ul li a {
        text-align: left;
        padding: 5px 15px 5px 12px!important;
        color: #232323!important;
    letter-spacing: 1px;
    font-weight: 400!important;
    font-size: 12px;    line-height: 24px;
    display: block;
    }
    .top-bar   .navbar-right li ul li a .fa  {
        font-size: 14px;
        margin: 0px 5px;
        position: relative;
        top: 3px;
    }
    .top-bar   .navbar-right li ul li:last-child a .fa {
        font-size: 14px;
        margin: 0px 5px;
        position: relative;
        top: 3px;color: #000000;
    }
    .top-bar  .navbar-right li .dropdown-menu li {
        width: 100%;
        border-bottom: 1px solid #d8d8d8;
    }
    .top-bar    .dropdown-menu.pull-right {
        top: auto!important;
        left: auto!important; 
        right: 0!important;
        transform: none!important;
    }
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background: #0c1f22f5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
    padding-bottom: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .navheader{padding: 10px;display: flex;}
  .navheader .userpic{width: 30%;padding-right: 10px;}
  .navheader .user-detail{width: 60%;}
  .navheader .user-detail h4{    text-transform: uppercase;
    margin: 0;font-size: 18px;;
    font-weight: 700;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;}
  .navheader .closenav{width: 10%;}
  .navheader .userpic img{width: 100%;}
  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid #929191;
}
#cssmenu > ul > li > a {
    text-transform: capitalize;
    padding: 11px 8px;
    letter-spacing: 1px;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    width: 100%;
    border-bottom: 0;
}
#cssmenu ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
    padding: 0px;
}
#cssmenu ul ul li {
    background: #206764 !important;
}
#cssmenu ul ul li a {
    border-bottom:0;
    padding: 9px 15px;display: block;
    font-size: 13px;
    text-decoration: none;
    color: #000;
    padding-left: 25px;    color: #fff;
    background: none;
}
.mob_balance {
    text-align: center;
    padding: 3px 2px;
    clear: both;
}
.mob_balance a,.mob_balance span{font-size: 13px;}
.marquee {
    position: relative;
    width: 35%;
    color: #000;
    float: left;
    padding: 7px 2px;
    font-weight: 700;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 3px;
    margin-top: 20px;    width: 100% !important;
    margin-top: 0 !important;
    padding: 3px 2px !important;
}
#marqmessage1 {
    display: block;
    font-weight: 700;    padding: 3px;
}
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /**footer nav**/
  .mainfooter {padding:4px 0;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #000 !important;
  color: #fff;
  z-index: 10;}
  .mainfooter .footerinner ul{list-style: none;padding: 0px; margin: 0px;display: flex;justify-content: center;    column-gap: 26px;}
  .mainfooter .footerinner ul li {text-align: center;   }
  .mainfooter .footerinner ul li a{color:#fc0;text-transform: uppercase;}
  .mainfooter .footerinner ul li i{font-size: 15px;}
  .mainfooter .footerinner ul li span{font-size: 11px;}

  .maincontainer{margin-top: 129px;    padding-bottom: 53px;}


  /***stake modal****/
  
.chipsetting  .modal-header {
    background-color: #ffc21d!important;
    border-bottom: transparent;
    padding: 10px;
    color: #fff;text-align: right;    
    justify-content: space-between;
}
.chipsetting  .modal-header  h2{font-size: 13px;font-weight: 600; margin: 0px;}
.chipsetting   button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;margin-top: -2px;
    line-height: 10px;
color: #fff;
opacity: 1;
float: right;
font-size: 21px;
font-weight: 700;    margin: 0px;
}

.chipsetting    .modal-body {
    padding: 15px 2px 0!important;
}
.chipsetting    .modal-body form .form-group{margin-bottom:20px;}
.chipsetting    .modal-body form .form-group label{    font-weight: 700;
    padding: 5px 0px;color: #000;
    margin-bottom: 0px;}

    .chipsetting    .modal-body form   .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border-radius: 0px;
        border: 1px solid #ccc;
    }

    .chipsetting    .modal-footer  .btn-success {
        background-color:#206764;
        border: 1px solid #ffffff;    color: #fff;
    }
    .chipsetting  .modal-footer{justify-content: center;}