.main-content{
    margin-top: 72px; 
}
@media (max-width: 575px) {
    .main-content{
        margin-top: 68px; 
    }
}
.row-sm{
    .col-btn-disabled{
        padding-right: 10px !important;
        .btn_div{
            button{
                background-color: red;
                 color: #fff; 
                 height: 29px;
                 font-size: 11px; 
            }
        }
    }
    .col-para{
        div{

            text-align: center;
            font-size: 9px;
            color: black;
        }
    }
    .col-link{
        padding-right: 0px !important;
    padding-left: 0px !important;

    }
}