@import "/src/app/betHonk/CSS/global.scss";
.mactch-tabs{
    background: #25313e;
    padding-top: 0%; 
       border-bottom: 1px solid #ddd;
    display: flex;
}

.mactchtabs {
    border: 1px solid #c7d5e0;
    background: #fff;
}
.mactch-tabs li{    border-right: 1px solid #c7d5e0;
flex: 1;}
.mactch-tabs li a
{
    font-size: 12px;
    margin: 0;
    padding-left: 0px;
    text-align: center;
    line-height: 20px;
    padding: 10px;color: #fff;font-weight: 600;
}
.mactch-tabs li a.active {
    background: #ffc21d;color: #000;
}

.mactch-tabs li .badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 5px;
    font-size: 11px;
    font-weight: 700;
    line-height: normal;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #ed172b;
    border-radius: 10px;
    margin-top: -18px;
}
.mactch-tabs li  a.active >.badge {
    color: #fff !important;
    background: #0c963d;
}

.mactchtabs .tab-content{ 
    padding: 5px;
}

.sport_row {
    
    border-bottom: 0;
    padding: 0px;
    background: #f2f2f2;
    margin-bottom: 5px;
    border: 1px solid #000;
    border-radius: 5px;
}
.sport_row .srname
{
    background: #113a17;
}
.sport_row .srname h4
{
    color: #fff;
    margin: 0;
    height: 38px;
    line-height: 38px;
    padding: 0px 5px;
    font-size: 16px;
}

.sport_name {
    width: 82%;
    position: relative;
    margin-left: 0;vertical-align: top;
    font-size: 11px;
    margin-top: 1px;
    margin-bottom: 10px;
    padding: 2px;    display: inline-block;
}

.match_status {
    display: inline-block;
    width: 15%;
    vertical-align: middle;
    font-size: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 1%;
}

.match_odds_front {
    text-align: center;
    width: 30% ; 
    display: flex; 
    float: right;
    margin-top: 1%;align-items: baseline;
}
.match_odds_front span.back-cell, .match_odds_front span.lay-cell {
    flex: 1;
    width: 40px;
    color: #000;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    border-radius: 5px;
    vertical-align: text-bottom;    
    margin: 1px !important;
}
.match_odds_front span.back-cell, .match_odds_front span.lay-cell {
    width: 48px;
    border-left: transparent;
    border: solid 1px #545353;
    margin: 0px 0px;line-height: 30px;
}

.match_odds_front span.back-cell {
    background-color: #0c963d;
    color: #fff;
}

.match_odds_front span.lay-cell {
    background-color: #ed172b;
    color: #fff;
}

.mobileimagenew {
    width: 6% !important;    filter: brightness(0.5);
}
.mobile_time_match {
    color: #0b9a86 !important;
    margin-left: 1%;
    padding: 4px 0px;font-weight: 700;    line-height: 24px;
}
.sport_name a {
    font-weight: bold;
    color: #176b6b !important;
    display: block;
    width: 95%;
    width: 90%;
    font-size: 12px;    line-height: 24px;
    padding: 0px 0px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.going_inplay {
    font-size: 10px;
    float: left;
    font-weight: 400;
    color: #23527c;
}

.blinking-inplay {
    animation: rainbow2 5s infinite;
    font-size: 11px;
    font-weight: 400;
}

@keyframes 
rainbow2{0%{color:red}10%{color:orange}20%{color:green}30%{color:#ffc21d}40%{color:#000}50%{color:#f0f}60%{color:#0f0}70%{color:green}80%{color:#ffc21d}90%{color:orange}to{color:red}}
