@import "/src/app/betHonk/CSS/global.scss";

.maincontainer {
    margin-top: 129px;
    padding-bottom: 83px;
}

.lay{
    background-color:rgb(245, 143, 160) !important;
}
.back{
    background-color:#a7d9fe !important;
}

.pagetitle {    background: #113a17 !important;padding:7px 5px!important;}
.pagetitle h2{font-weight: bold;    font-size: 13px;color: #fff;margin: 0px;line-height: 24px;}
.btn_back { 
    margin: 0px;
    background: #09292f !important;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 3px;
    border: transparent;
    line-height: normal;
}

.accoutstatement-wrap ul.mactch-tabs li{width: 33.3%;padding:2px;}
.accoutstatement-wrap ul.mactch-tabs li a
{
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    margin-bottom:0px; font-size: 12px;text-align: center; 
    padding: 4px 5px;
    border-color: rgb(255, 255, 255) !important;
}
.accoutstatement-wrap ul.mactch-tabs li a.active{    color: rgb(255, 255, 255);
    background: rgb(248, 150, 30);}

    .filter-wrap  .form-wrap {
        margin-bottom: 10px;
    }
    .filter-wrap {padding: 8px 0;}
    .filter-wrap .col-6{padding: 0 6px;}
    .accoutstatement-wrap .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 0px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    }
    .accoutstatement-wrap  .btnswrap {margin-bottom: 0px;}
    .accoutstatement-wrap  .btnswrap a,
    .accoutstatement-wrap  .btnswrap button {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        padding: 5px 9px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 0px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .accoutstatement-wrap  .btnswrap .red_button {
        color: #000;
        background-color:#f8961e;
        border:none;
    }   
    .accoutstatement-wrap  .btnswrap .blue_button{
        background: #000;
        border: 1px solid #ffffff;color: #fff;
    }

    .dataTables_length, .dataTables_filter {
        padding: 5px 0px;
    }
    .dataTables_length label select {
        height: 28px;
        border: 1px solid #E6E9ED;
        padding: 0px 6px !important;
    }
    .dataTables_length {
        width: 48%!important;
        float: left!important;
    }   
    .dataTables_filter label,
    .dataTables_length  label{font-size: 13px; font-weight: 600;}
    .dataTables_filter {
        width: 50%;
        margin: 0!important;
        float: right!important;
        text-align: left!important;
    } 
    .dataTables_filter label input {
        width: 60%!important;
        height: 28px!important;
        padding: 0 5px!important;margin-left: 0.5em;
        font-weight: 300;
        border: 1px solid #E6E9ED;
    }
    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter{    text-align: center;}
    #filterdata{width: 98%;margin: 0 auto;border: 1px solid #ddd;}
    table.dataTable.no-footer {
        border-bottom: 1px solid #ddd;
    }
    table.jambo_table {
        border: 1px solid rgba(221, 221, 221, 0.78);
        background: #fff;margin-bottom: 0px;}
        .table {
            font-size: 12px;
        }
        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
            padding: 4px !important;white-space: nowrap;
        }
        table.jambo_table thead tr {
            background: #c8c8c8;
            text-align: center;
            color: #000;
            font-size: 12px;
        }
        table.jambo_table thead tr th {
            border: 1px solid rgba(0,0,0,.58)!important;
            color: #000;
            font-size: 12px;
            font-weight: 700;
            white-space: nowrap;
        }
        table.jambo_table thead tr th,
        .darkpurplecolor {
            background: linear-gradient(180deg,#76c7ce 0,#12717c)!important;
            color: #fff !important;
        }
        table.jambo_table tbody tr td {
            border: 1px solid rgba(0,0,0,.58);
            font-weight: 600;
            white-space: nowrap;
        }
        table.jambo_table tbody tr td    a {
            color: #4083a9;
        }
        div#datatable_info{text-align: center;
            font-size: 12px;
            padding:14px 0 14px 0;}