.footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 90px;
    background-color: #D0DAEE;
  }
  .activetabfooter{
    color: black !important;
  }
  
  .tabcolor{
    color: white;
  }