.myactive {
    border:3px solid greenyellow !important;
  }
  .addnewinput{
    width: 100%;
    margin: 9px 0px 0px 0px;
    padding: 9px;
    border: 0px;
    border-radius: 4px;
    background: #393939;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 1px;
  }