app-footer{
    position: relative;
    top:128px;
}
@media (max-width:600px) {
    app-footer{
        position: relative;
        top:112px;
    }
}
.main-content{
    margin-top: 120px; 
}
@media (max-width: 575px) {
    .main-content{
        margin-top: 107px; 
    }
}
.sports .nav-tabs .nav-link.active {
    background-color: #6a7076 !important;
}

.mat-raised-button {
    background: none;
    box-shadow: none;
    border: 1px solid #ccc;
    color: black;
    width: 35px;
    padding: 0 5px;
    outline: none;
}

.back-rate {
    background-color: var(--back-color);
}

.lay-rate {
    background-color: var(--lay-color);
}

.mat-flat-button {
    background-color: #2450831A;
    color: #003060;
    line-height: 20px;
    font-size: 10px;
    border-radius: 3px;
    padding: 0 10px;
    min-width: unset;
}

.star-icon {
    color: #ffc701;
    width: 16px;
    height: 16px;
    font-size: 16px;
    margin-left: 0;
    vertical-align: middle;
}

.live-tv-icon .mat-icon {
    margin-left: 0 !important;
}

.fb-icon {
    color: #0d8ef2;
    width: 18px;
    height: 18px;
    font-size: 18px;
    margin-right: 5px;
}

.card-space .mat-icon {
    margin-right: 5px;
}

.video-icon {
    color: #3b699c;
    width: 18px;
    height: 18px;
    font-size: 18px;
}

.live-tv-icon {

    // box-shadow: 0px 4px 8px #FF40402B;
    // border-radius: 100px;
    // font-size: 9px;
    // text-transform: uppercase;
    // background-color: #FF4040;
    // padding: 5px 10px;
    // color: #fff;
    // line-height: 12px;
    // vertical-align: middle;
    .mat-icon {
        margin-right: 5px;
        vertical-align: middle;
        margin-top: -5px;
        width: 16px;
        height: 16px;
        font-size: 16px;
        color: #ffc701;
    }
}

.dashboard-page {
    padding-bottom: 50px;
}

.mat-card {
    padding: 0;
    border-bottom: 1px solid #DDDDDD;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    align-items: center !important;
    padding-bottom: 0;

    &:nth-child(2) {
        border-top: 1px solid #DDDDDD;
    }

    .match-name {
        line-height: 14px;
        margin-bottom: 5px !important;
        align-items: center !important;
        width: 100%;

        .odd-content {
            width: 100%;
            line-height: 18px;
            padding: 3px 0;

            .odd-title {
                display: flex;
                flex-direction: row;
                word-spacing: 3px;
                justify-content: space-between;
                align-items: center;
                padding: 2px 0;
            }

            span {
                line-height: 23px;
                font-size: 15px;
                font-weight: 500;
                color: #bababa;

                // width: 220px;
                display: block;
            }
        }
    }

    .match-name {
        .col-3 {
            .green_point img {
                margin-bottom: 19px;
                width: 10px;
            }

            .bw_word {
                position: absolute;
                top: 4px;
                margin-left: 4px;
            }

        }
    }
}

.event-odds {
    .suspend-status {
        flex-basis: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        color: #b30000;
        border: 1px solid rgb(179 0 0 / 30%);
        border-radius: 4px;
        font-weight: 600;
    }
}

img {
    width: 16px;
    margin-right: 5px;
}


.event-odds {
    position: relative;
}

.match-rate {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

    .odd-list {
        width: 16%;
        text-align: center;
        // border-radius: 3px;
        line-height: 30px;
        margin: 2px 0;
        font-weight: 600;
    }
}

div.scrollmenu {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    vertical-align: middle;
    padding: 3px 3px 0;
    background: #ffffff;
}

.tab-btn-card {
    display: inline-block;
    width: auto;
    background: linear-gradient(-180deg, #f72424 0%, #bb1c00 100%);
    border-radius: 5px;
    margin: 3px 5px 5px 0;
    padding: 8px 10px;
    font-size: 13px;
    box-shadow: 0 2px 14px rgb(0 0 0 / 8%);
    font-weight: 500;
    border: 1px solid #257abb57;

    img {
        height: 16px;
        width: 16px;
        margin-right: 5px;
    }
}

.right-scroll-icon {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    margin: 10px 5px 5px 5px;
}

.left-scroll-icon {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    margin: 10px 5px 5px 5px;
}

.game-list-card {
    padding: 0 0px 5px;
    margin: 0;
    background-color: #ffff;
    // border-bottom: 10px solid #212121;
    border-radius: 0px;

    .game-list-header {
        background: #fff;
        padding: 10px 10px;
        margin: 0 0px 5px;
        // color: #ffffff; 
        font-weight: 500;
        font-size: 12px;
        line-height: normal;
        text-transform: uppercase;
        border-bottom: none;
        border: 2px solid #ffc701;
        border-radius: 7px;

        img {
            width: 16px;
            margin-right: 5px;
        }
    }
}

// .mat-card:nth-child(even){
//     background-color: #F4F8FC;
//     border: 1px solid #F4F8FC;
// }
.time-day {
    background-color: #333;
    padding: 4px;
    border-radius: 3px;
    align-items: center;
    display: flex;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: normal;
    width: 70px !important;
    height: 40px;
    justify-content: space-around;
    color: #bababa;
}

.match-event-list.mat-card {
    background-color: transparent;
    padding: 5px;
    border: none;
    border-radius: 0px;
    // border:2px solid #2E3439;
    border-radius: 7px;

    &:nth-child(even) {
        background-color: transparent;
    }
}


.time-day.inplay-btn {
    color: #fff;
    background-color: #85ba30;
}

.bet-datetime {
    // background-color: rgb(0 178 255 / 5%);
    // color: #00B2FF;
    // border: 0.5px solid #00B2FF;
    // border-radius: 3px;
    // box-shadow: 0 2px 6px rgb(0 0 0 / 4%);
    // padding: 0px 10px;
    display: inline-block;
    line-height: 14px;
    white-space: nowrap;
    text-align: center;

    // padding-left: 20px;
    img {
        vertical-align: middle;
        display: inline-block;
        margin-top: -2px;
    }
}

.card-space {
    white-space: nowrap;

    .mat-icon {
        vertical-align: middle;
    }
}


// .marquee-text {
//     position: relative;
//     marquee {
//         padding-top: 5px;
//         line-height: 12px;
//         font-size: 13px;
//     }
//     .mat-icon{
//         position: absolute;
//         left: 0;
//         background-color: #fff;
//         z-index: 1;
//         padding: 0 5px;
//         width: auto;
//         text-align: center;
//     }
// }
.nav-tabs {
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
}

// .nav-tabs {
//     background-color: var(--theme1-bg);
//     /* border-radius: 0; */
//     border-bottom: 0;
//     box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, .5);
// }
.sports .nav-tabs {
    background-color: var(--theme2-bg);
}

.sports .nav-tabs .nav-item {
    flex: 1 1 0;
    padding-top: 0;
    padding-bottom: 0;
}

.sports .nav-tabs .nav-link {
    border-right: 0;
}

.sports .nav-tabs .nav-link {
    color: #fff;
    // border-right: 1px solid #FFF;
}

.game-nav-bar.nav-tabs .nav-link {
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
}

.sports .nav-link {
    padding: 5px 10px;
}

.nav-tabs .nav-link {
    color: #ffff;
    white-space: nowrap;
    text-transform: uppercase;
    border-radius: 0;
    padding-top: 5px;
    padding-bottom: 0;
    border-right: 1px solid var(--primary-color);
    font-size: 12px;
    font-weight: 700;
}

.sports .nav-tabs li img {
    height: 20px;
    margin-bottom: 10px;
}