.spinner {
    border: 16px solid #ffc701;
    border-top: 16px solid black;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 500ms linear infinite;
    top:44%;
    left:44%;
    position: absolute;
    z-index:999;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(-360deg) }
  }
  